@use "../../styles/main" as *;
@use "../../styles/variables" as *;

.nav-bar {
  background-color: $color-white;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  border-radius: 20px 20px 0 0;
  width: 100%;
  bottom: 0;
  position: fixed;
}

.active {
  background-color: $color-gray;
  border-radius: 15px;
  padding: 10px;
}
