@use "../../styles/main" as *;
@use "../../styles/variables" as *;

.total-spend {
    padding: 10px;
    margin: 10px;

    &__text1 {
        text-align: center;
        color: $text-gray;
    }

    &__text2 {
        text-align: center;
        font-size: 3rem;
        font-family: $secondary-font;
    }
}