@use "../../styles/main" as *;
@use "../../styles/variables" as *;

.welcome-user {
    padding: 10px;

    &__text1 {
        font-family: "Borel";
    }

    &__text2 {
        font-family: $secondary-font;
    }
}